body {
    background-color:#e9e593;
    width:950px;
    margin-left:auto;
    margin-right:auto;
    color:#090239;

}

.header {
    padding: 5px 10px;
    height:100px;
    background: #dbac13;
   color:#090239;
    border-radius: 10px;
}

.wrapper{
    width:950px;
    
}
.navigation{
    padding:5px 10px;
    background:#e9e593;
    color:aliceblue;
    border-radius: 10px;
}
.main{
     clear:both;
    float:right;
    width:930px;
    height:600px;
    padding:10px;
    background-image:url('../../Images/BakeryWallpaper.jpg');
   color:#090239;
    border-radius: 10px;

}

.footer{
    clear:both;
    padding:5px 10px;
    background:#dbac13;
    height:58px;
    border-radius: 10px;
}

a:link, a:visited {
    background-color: #dbac13;
    border-radius: 10px;
    color:#090239;
    
    padding: 14px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    text-decoration: none;
    display: inline-block;
}

a.side{
    width:75%;
}

a:hover, a:active {
    background-color: #e9e593;
}

.required:after {
content:" *"; 
color: #e32;
position: absolute; 
margin: -2px 0px 0px -5px; 
font-size: large; 

}
article {
    color:#090239;
	border-radius: 10px;
     margin-bottom: 10px;
   position: relative;
   padding: 2.5em 1em 0.5em 1em;
   background: #e3d5ba;

	//border: thin solid #C0C0C0;
	opacity: 0.9;
}
.h1{
    position:center;
    color:#090239;

}
